.rooms-list {
    overflow-y: auto;
}

.room-name {
    color: white;
    font-size: 18px;
    height: 75px;
    padding: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.room-name:hover {
    background-color: maroon;
}

.current-room {
    background-color: maroon;
}