.chat-user-details {
    margin-left: 10%;
}

.user-name {
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-top: 15%;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-active-since {
    margin-top: 5%;
    color: white;
}