.chat-room-name {
    margin-top: 40px;
    text-align: center;
    color: #808080;
    font-size: 30px;
}

.current-user-name {
    color: #ea1313;
}

.chat-room-users {
    margin-bottom: 20px;
    text-align: center;
    color: #808080;
    font-size: 20px;
}