.chat-message {
    clear: both;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
    max-width: 50%;
    min-width: 10%;
}

.chat-message-user {
    color: grey;
}

.chat-message-content {
    color: black;
    background-color: white;
    border-radius: 20px;
    min-height: 40px;
    padding: 10px 20px 10px 20px;
}

.current-user-chat-message {
    clear: both;
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 25px;
    max-width: 50%;
    min-width: 10%;
}

.current-user-message-content {
    color: white;
    background-color: red;
    border-radius: 20px;
    min-height: 40px;
    padding: 10px 20px 10px 20px;
}

.current-user-message-user {
    color: grey;
    position: absolute;
}